@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

//color palette1
$charcoal: #3E424D;
$slate: #6B7288;
$coolgray: #98A3C4;
$periwinkle: #c5d3ff;
$ghostwhite: #F1F4FF;

//palette2
$purple-gray: #383742;
$pale-lilac: #A4A1C3;
$painter-gray: #79778F;

//palette3
/* Color Theme Swatches in Hex */
$color-theme_background-1-hex: #024059;
$color-theme_background-2-hex: #8AB0BF;
$color-theme_background-3-hex: #035E73;
$color-theme_background-4-hex: #307B8C;
$color-theme_background-5-hex: #F2F2F2;

$custom-colors: (
        'dark': $charcoal,
        'primary':$color-theme_background-2-hex,
        'content': $slate,
        'accent': $color-theme_background-4-hex,
        'light': $color-theme_background-5-hex,
        'greenblue': $color-theme_background-1-hex
);

$font-family-base:
    (ui-serif, Georgia, Cambria, "Times New Roman", Times, serif);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
