@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

//color palette
$charcoal: #3E424D;
$slate: #6B7288;
$coolgray: #98A3C4;
$periwinkle: #c5d3ff;
$ghostwhite: #F1F4FF;

$custom-colors: (
        'dark': $charcoal,
        'primary': $periwinkle,
        'content': $slate,
        'light': $ghostwhite,
        'accent': $coolgray
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
